<section>
  <h1 id="about" >About Me</h1>
  <p>
    I'm a crazy focused web developer from Jyväskylä, Finland who loves writing code and <a href="http://www.skydivejkl.fi/">jumping</a> from airplanes.
  </p>
  <ul>
    <li>I hack at <a href="https://github.com/epeli">@epeli</a> on Github</li>
    <li>I tweet at <a href="https://twitter.com/esamatti">@EsaMatti</a> on Twitter</li>
    <li>I'm Epeli on Freenode&amp;IRCnet</li>
    <li>I'm also on <a href="http://linkedin.com/in/esamatti">Linkedin</a></li>
  </ul>

</section>
