// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: none;
  font-size: 1.1em;
}



body > nav {
  padding-top: 0px;
  padding-right: 5px;
}


article {

  h1, h1 a {
    font-size: 25pt;
  }

  h2 {
    font-size: 20pt;
    // Remove top border
    background: none;
  }

  header {
    // Remove bottom border
    background: none;
  }

}

.sidebar {
  .aside-link {
    font-size: 8pt;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.categories {
  a.category {
    text-decoration: none;
  }
  a.category:hover {
    text-decoration: none;
    color: black;
  }
}

body > header {
  font-size: 1em;
  padding-bottom: 0em;

  hgroup {
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    height: 135px;
    padding-top: 15px;
    h1,h2 {
      margin-left: 170px;
    }
  }

}

::-moz-selection {
  background: black;
  color: white;
}
::selection {
  background: black;
  color: white;
}


@media only screen and (max-width: 380px) {
  body > header {
    hgroup {
      padding-top: 135px;
      h1 {
        margin-left: 10px;
        margin-top: 30px;
      }
      h2 {
        margin-left: 10px;
        margin-top: 0px;
      }
    }
  }


  article {
    h1, h2 {
      line-height: 1em;
    }


  }

}





.about-me-link {
  position: absolute;
  top: 160px;
  margin-left: 32px;
  margin-bottom: 30px;
  display: none;
  a {
    text-decoration: none;
    padding-top: 140px;
  }
}

@media only screen and (max-width: 768px) {
  .about-me-link {
    display: block;
  }
}



footer .credit {
  color: gray;
  font-size: small;
}


// Remove borders
body > nav,
aside.sidebar,
#content {
  border: 0px !important;
}




#content .blog-index footer {
  margin-top: 0em;
  a[rel=full-article] {
    padding: 0em;
    background: transparent;
    &:hover {
      color: black;
      background: transparent;
    }
  }
}


.entry-title a:hover {
  text-decoration: none;
}

#tweets a[href*="twitter.com/search"]:hover {
  text-decoration: none;
}

#recent_posts .post a {
  text-decoration: none;
}





.subscribe-links {
  margin-bottom: 0px;


  div {
    float: left;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .rss-link {
    background-image: url(/images/rss.png);
    float: left;
    margin-left: 5px;
    a, a:hover {
      color: transparent !important;
    }
  }

  .twitter-link {
    background-image: url(/images/bird_32_gray.png);
  }

}

@media only screen and (max-width: 768px) {
  .rss-link {
    display: none;
  }
}


article {
  .anchor {
    visibility: hidden;
    margin-left: 5px;
    text-decoration: none;
    &:before {
      content: '\2693';
    }
  }


  h1:hover, h2:hover, h3:hover {
    .anchor {
      visibility: visible;

    }
  }

}
