// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: none;
}


body > nav {
  padding-top: 0px;
  padding-right: 5px;
}

.sidebar {
  .archives {
    font-size: 8pt;
    a {
      text-decoration: none;
    }
  }
}


body > header {
  font-size: 1em;
  padding-bottom: 0em;

  hgroup {
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    height: 135px;
    padding-top: 15px;
    h1,h2 {
      margin-left: 170px;
    }
  }

}

@media only screen and (min-width: 992px) {
  #content .blog-index article h1, h1 {
    font-size: 1.8em;
  }
}

