// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: none;
  font-size: 1.1em;
}



body > nav {
  padding-top: 0px;
  padding-right: 5px;
}


article {

  h1, h1 a {
    font-size: 25pt;
  }

  h2 {
    font-size: 20pt;
    // Remove top border
    background: none;
  }

  header {
    // Remove bottom border
    background: none;
  }

}

.sidebar {
  .aside-link {
    font-size: 8pt;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.categories {
  &:before {
    content: "\2022 ";
  }
  a.category {
    text-decoration: none;
  }
  a.category:hover {
    text-decoration: none;
    color: black;
  }
}

.logo {
  .cloud {
    background-image: url(/images/logo-cloud.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 135px;
  }
  .mario {
    background-image: url(/images/logo-mario.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 65px;
    top: 100px;
    left: 87px;
    z-index: 100;
  }

  .cloud, .mario {
    position: absolute;
  }
}

body > header {
  font-size: 1em;
  padding-bottom: 0em;
  margin-top: 1em;
  border-radius: 26px;

  hgroup {
    padding-top: 15px;
    h1,h2 {
      margin-left: 170px;
    }
  }

}

::-moz-selection {
  background: black;
  color: transparent;
}
::selection {
  background: black;
  color: transparent;
}


@media only screen and (max-width: 380px) {
  body > header {
    hgroup {
      padding-top: 135px;
      h1 {
        margin-left: 10px;
        margin-top: 30px;
      }
      h2 {
        margin-left: 10px;
        margin-top: 0px;
      }
    }
  }


  article {
    h1, h2 {
      line-height: 1em;
    }


  }

}





.about-me-link {
  position: absolute;
  top: 160px;
  margin-left: 32px;
  margin-bottom: 30px;
  display: none;
  a {
    text-decoration: none;
    padding-top: 140px;
  }
}

@media only screen and (max-width: 768px) {
  .about-me-link {
    display: block;
  }
}



footer .credit {
  color: gray;
  font-size: small;
}


// Remove borders
body > nav,
aside.sidebar,
#content {
  border: 0px !important;
}




#content .blog-index footer {
  margin-top: 0em;
  a[rel=full-article] {
    padding: 0em;
    background: transparent;
    &:hover {
      color: black;
      background: transparent;
    }
  }
}


.entry-title a:hover {
  text-decoration: none;
}

#tweets a[href*="twitter.com/search"]:hover {
  text-decoration: none;
}

#recent_posts .post a {
  text-decoration: none;
}





.subscribe-links {
  margin-bottom: 0px;
  a, a:hover {
    color: transparent !important;
    text-decoration: none;
  }


  div {
    float: left;
    background-repeat: no-repeat;
    background-position: left top;
  }

  .rss-link {
    background-image: url(/images/rss.png);
    float: left;
    margin-left: 5px;
  }

  .twitter-link {
    background-image: url(/images/bird_32_gray.png);
  }

}

@media only screen and (max-width: 768px) {
  .rss-link {
    display: none;
  }
}


article {

  h1:hover, h2:hover, h3:hover {
    .anchor {
      // visibility: visible;
      color: lighten($link-color, 30);
    }
  }

  .anchor {
    // visibility: hidden;
    margin-left: 5px;
    text-decoration: none;
    color: transparent;
    &:hover {
      color: black !important;
    }
    &:before {
      content: '\2693';
    }
  }


  ul,ol {
    margin-left: 2em;
  }

}



// Force transparent bg every where
* {
  background-color: transparent !important;
}




